.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f1f1f;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.register-card {
    display: flex;
    width: 70%;
    max-width: 600px;
    height: 500px;
    margin: auto;
    z-index: 1;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}

.register-left,
.register-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-left {
    background: linear-gradient(to bottom right, #b7b7b7, #a8a8a8);
}

.register-right {
    background: linear-gradient(to bottom right, #1f1f1f, #3a3a3a);
    color: white;
    align-items: center;
    text-align: center;
}

.register-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.register-subtitle {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.register-input {
    padding: 12px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    background-color: #e0e0e0;
    color: #1f1f1f;
}

.register-button {
    padding: 12px;
    margin-top: 16px;
    background-color: #3a3a3a;
    color: #d3d3d3;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.register-button:hover {
    background-color: #bcbcbc;
}

.login-back-button {
    background: white;
    color: #3a3a3a;
    border: none;
    padding: 12px 24px;
    margin-top: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-back-button:hover {
    background: #f0f0f0;
}

.register-message {
    margin-top: 10px;
    color: #3a3a3a;
    font-size: 10px;
}

.register-heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.register-message-with-spinner {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
    font-size: 14px;
    color: #3a3a3a;
  }
  
  .spinner {
    width: 16px;
    height: 16px;
    border: 3px solid #ccc;
    border-top: 3px solid #555;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }